cffi==1.14.2
cloudpickle==3.0.0
chex
dm-env
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda12_local]==0.4.13  # replace with a relevant CUDA version.
flax==0.7.0
gputil
ml_dtypes==0.2.0
numpy==1.24.3
open3d==0.18.0
optax==0.1.4
psutil
ruamel.yaml
scipy==1.12.0
tensorflow==2.13.0
tensorflow-addons==0.23.0
tensorflow_probability==0.21.0
transformers[flax]==4.37.2
git+https://github.com/stepjam/PyRep.git
git+https://github.com/stepjam/RLBench.git
rltools[loggers] @ git+https://github.com/lkhromykh/rltools.git
git+https://github.com/RQC-Robotics/ur5-env.git
