chex
dm-env
flax
ml_dtype==0.2.0
numpy
open3d-cpu
optax
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax[cuda11_local]==0.4.13
tensorflow
tensorflow_probability
tensorflow_datasets
transformers[flax]
git+https://github.com/stepjam/PyRep.git
git+https://github.com/stepjam/RLBench.git
rltools[all] @ git+https://github.com/lkhromykh/rltools.git